<ion-header>
  <app-header-toolbar></app-header-toolbar>
</ion-header>

<ion-content>
  <div id="perfil">
    <div id="backgroud-cover" [ngStyle]="{'background-image': 'url('+person.cover+')'}">
      <ion-buttons *ngIf="isMyProfile" routerLink="/edita-perfil" class="edit-button">
        <ion-icon class="edit-icon" name="create-outline"></ion-icon>
      </ion-buttons>
    </div>
    <div id="info">
      <span [routerLink]="['/followers/', person.id]" class="text-follow followers">{{person.followers.length}} Seguidores</span>
      <img class="image" [src]="person.picture" alt="Default Picture">
      <span [routerLink]="['/following/', person.id]" class="text-follow following">{{person.following.length}} Seguindo</span>
      <div class="name">
        {{person.name}}
      </div>
    </div>
    <div *ngIf="!isMyProfile" id="followButton">
      <ion-button *ngIf="!isFollowing" (click)="follow()" fill="outline" shape="round">
        Seguir
      </ion-button>
      <ion-button *ngIf="isFollowing" (click)="unfollow()" shape="round">
        Seguindo
      </ion-button>
    </div>
    <div id="desc">
      {{person.description}}
    </div>
  </div>

  <div class="posts" *ngFor="let post of posts">
    <app-post *ngIf="!post.isComment" [post]="post"></app-post>
  </div>
  
</ion-content>

<ion-footer>
  <app-footer-toolbar></app-footer-toolbar>
</ion-footer>