/* Estilos da div pai */

div.parent {
    height: 100%;
    width: 100%;
}

/* Estilos da div profile */

div.profile {
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.0625rem solid #3e3e3e;
}

.profile-pic{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

/* Estilos textarea */

form{
    width: 100%;
    height: calc(100% - 56px - 24px - 16px * 4 - 2px); // total - div profile - div options - padding das divs - borda das divs
}

div.textarea {
    height: 100%;
}

div.textareaImg {
    height: 20%;
}

textarea.post {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #121212;
    padding: 0.625rem;
    border: none;
}

textarea.post:focus {
    outline: none;
}

.takePicture {
    padding: 25px;
    text-align: center;
}

.remove-icon{
    font-size: 24px;
}

.picture {
    margin-bottom: 60px;
}

/* Estilos da div options */

.options {
    position: fixed;
    width: 100%;
    bottom: 55px;
    display: flex;
    border-top: 0.0625rem solid #3e3e3e;
    background-color: #121212;
}

.icons-option {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.icon-end-option  {
    font-size: 1.5rem;
    margin-left: auto;
    background-color: #121212;
    color: #ffffff;
    padding: 0;
}

.icon-end-option:focus {
    outline: none;
}