<ion-header>
  <app-header-toolbar></app-header-toolbar>
</ion-header>

<ion-content>
  <div class="parent">
    <div class="ion-padding profile">
      <img class="profile-pic" [src]="picture" alt="profile">
    </div>
    <div class="textarea">
      <textarea class="post" maxlength="240" placeholder="Digite algo que deseja."></textarea>
    </div>
    <div class="ion-padding options">
      <ion-buttons class="icons-option">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-buttons>
      <ion-buttons class="icons-option">
        <ion-icon name="image-outline"></ion-icon>
      </ion-buttons>
      <ion-buttons class="icons-option">
        <ion-icon name="happy-outline"></ion-icon>
      </ion-buttons>
      <ion-buttons class="icon-end-option">
        <ion-icon name="send-outline"></ion-icon>
      </ion-buttons>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-footer-toolbar></app-footer-toolbar>
</ion-footer>
