<ion-header>
  <app-header-toolbar></app-header-toolbar>
</ion-header>

<ion-content>
  <div id="perfil">
    <div (click)="presentActionSheet(0)" id="backgroud-cover" [ngStyle]="{'background-image': 'url('+ params.coverPic +')'}"></div>
    <div id="info">
      <img (click)="presentActionSheet(1)" class="image" [src]="params.profilePic" alt="Default Picture">
    </div>
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
      <div id="form">
        <ion-item class="ion-margin radius item-form">
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="person.name" name="name" type="text"></ion-input>
        </ion-item>
        <ion-item class="ion-margin radius item-form">
          <ion-label position="floating">Data de nascimento</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="person.dateBirth" name="dateBirth"></ion-datetime>
        </ion-item>
        <ion-item class="ion-margin radius item-form">
          <ion-label position="floating">Descrição</ion-label>
          <ion-textarea [(ngModel)]="person.description" name="description"></ion-textarea>
        </ion-item>
        <ion-item class="ion-margin radius item-form">
          <ion-label position="floating">Senha Atual</ion-label>
          <ion-input (ionChange)="editPassword()" [(ngModel)]="params.currentPassword" name="currentPassword" type="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="isEditPassword" class="ion-margin radius item-form">
          <ion-label position="floating">Nova Senha</ion-label>
          <ion-input [(ngModel)]="params.newPassword" name="newPassword" type="password"></ion-input>
        </ion-item>
        <div id="submit">
          <button [routerLink]="['/perfil/', person.id]">
            <ion-icon name="close-outline"></ion-icon>
          </button>
          <button type="submit">
            <ion-icon name="checkmark-outline"></ion-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <app-footer-toolbar></app-footer-toolbar>
</ion-footer>