/* Responsividade */

.content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-child {
    width: 100%;
}

/* Estilo da imagem */
.centraliza {
    margin-left: auto;
    margin-right: auto;
}

.dimensao-img {
    max-width: 13.125rem;
    max-height: 13.125rem;
    width: auto;
    height: auto;
}

/* Estilo dos campos e botão*/

.radius {
    border-radius: 0.5625rem;
}

.item-form {
    margin-bottom: 2.5rem;
}

.botao-login {
    height: 2.6rem;
}

/* Estilo do texto */

.texto-cadastro {
    text-align: center;
}

.texto-cadastro a{
    text-decoration: none;
}