<ion-content>
  <div class="content">
    <div class="content-child">
      <ion-grid>
        <ion-row>
          <ion-col class="dimensao-img centraliza">
            <ion-img [src]="img" class="dimensao-img"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="ion-padding">
          <ion-item class="ion-margin radius item-form">
            <ion-input [(ngModel)]="user" name="user" type="text" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item class="ion-margin radius item-form">
            <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Senha"></ion-input>
          </ion-item>
          <ion-button type="submit" class="ion-margin botao-login" expand="block">Login</ion-button>
        </div>
      </form>
  
      <div class="texto-cadastro">
        Não possui um tuuiter? Cadastre agora 
        <p><a routerLink="/cadastro">Clicando aqui</a></p>
      </div>
    </div>
    </div>
</ion-content>