<ion-content>
  <div class="content">
    <div class="content-child">
      <form (ngSubmit)="onSubmit()" #cadastroForm="ngForm">
        <div class="ion-padding">
          <ion-item class="ion-margin radius item-form">
            <ion-label position="floating">Nome</ion-label>
            <ion-input [(ngModel)]="objPerson.name" name="name" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-margin radius item-form">
            <ion-label position="floating">Data de nascimento</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="objPerson.dateBirth" name="date"></ion-datetime>
          </ion-item>
          <ion-item class="ion-margin radius item-form">
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="objPerson.email" name="email" type="text"></ion-input>
          </ion-item>
          <ion-item class="ion-margin radius item-form">
            <ion-label position="floating">Senha</ion-label>
            <ion-input [(ngModel)]="objPerson.password" name="password" type="password"></ion-input>
          </ion-item>
          <ion-item class="ion-margin radius item-form">
            <ion-label position="floating">Confirmar Senha</ion-label>
            <ion-input [(ngModel)]="confirmPass" name="confirmpass" type="password"></ion-input>
          </ion-item>
          <ion-button type="submit" class="ion-margin botao-cadastro" expand="block">Cadastro</ion-button>
        </div>
      </form>
  
      <div class="texto-cadastro">
        Já possui um tuuiter? Faça o login 
        <p><a routerLink="/login">Clicando aqui</a></p>
      </div>
    </div>
  </div>
</ion-content>