/* Responsividade */

.content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-child {
    width: 100%;
}

/* Estilo dos campos e botão*/

.radius {
    border-radius: 0.5625rem;
}

.item-form {
    margin-bottom: 2rem;
}

.botao-cadastro {
    height: 2.6rem;
}

/* Estilo do texto */

.texto-cadastro {
    text-align: center;
}

.texto-cadastro a{
    text-decoration: none;
}