<ion-content>
  <div class="content">
    <div class="content-child">
      <form (ngSubmit)="onSubmit()" #cadastroForm="ngForm">
        <div class="ion-padding">
          <ion-item class="ion-margin radius item-form">
            <ion-input [(ngModel)]="objPerson.name" name="name" type="text" placeholder="Nome"></ion-input>
          </ion-item>
          <ion-item class="ion-margin radius item-form">
            <ion-input [(ngModel)]="objPerson.dateBirth" name="date" type="text" placeholder="Data de nascimento"></ion-input>
          </ion-item>
          <ion-item class="ion-margin radius item-form">
            <ion-input [(ngModel)]="objPerson.email" name="email" type="text" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item class="ion-margin radius item-form">
            <ion-input [(ngModel)]="objPerson.password" name="password" type="password" placeholder="Senha"></ion-input>
          </ion-item>
          <ion-item class="ion-margin radius item-form">
            <ion-input [(ngModel)]="confirmPass" name="confirmpass" type="password" placeholder="Confirmar Senha"></ion-input>
          </ion-item>
          <ion-button type="submit" class="ion-margin botao-cadastro" expand="block">Cadastro</ion-button>
        </div>
      </form>
  
      <div class="texto-cadastro">
        Já possui um tuuiter? Faça o login 
        <p><a routerLink="/login">Clicando aqui</a></p>
      </div>
    </div>
  </div>
</ion-content>