/* Responsividade */
@media only screen and (max-height: 900px){
    .responsivo {
        padding-top: 5rem;
        padding-bottom: 5rem;
        height: 100%;
    }
}

@media only screen and (max-height: 700px){
    .responsivo {
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: 100%;
    }
}

@media only screen and (max-height: 600px){
    .responsivo {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
    }
}

/* Estilo dos campos e botão*/

.radius {
    border-radius: 0.5625rem;
}

.item-form {
    margin-bottom: 2rem;
}

.botao-cadastro {
    height: 2.6rem;
}

/* Estilo do texto */

.texto-cadastro {
    text-align: center;
}

.texto-cadastro a{
    text-decoration: none;
}