/* Estilo da imagem de perfil */

.profile-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

/* Estilo do icone */

.icon#circle {
    font-size: 0.3125rem;
    margin-right: 0.3125rem;
    margin-left: 0.3125rem;
    vertical-align: middle;
}

/* Estilo do texto de perfil */

.same-line {
    display: inline-block;
}

span#name{
    font-weight: bold;
}

span#time{
    vertical-align: middle;
    font-size: 0.75rem;
}