<ion-item>
    <ion-avatar slot="start">
      <img [src]="picture" alt="profile">
    </ion-avatar>
    <div name="dados do post">
      <span class="same-line" id="name">{{name}}</span>
      <ion-icon class="icon same-line" id="circle" name="ellipse"></ion-icon>
      <span class="same-line" id="time">{{time}}</span>
    </div>
</ion-item>

<!-- <ion-grid fixed>
  <ion-row>
    <ion-col>
      <img class="profile-pic" [src]="picture" alt="profile">
    </ion-col>
    <ion-col>
      <div name="dados do post">
        <span class="same-line" id="name">{{name}}</span>
        <ion-icon class="icon same-line" id="circle" name="ellipse"></ion-icon>
        <span class="same-line" id="time">{{time}}</span>
      </div>
    </ion-col>
  </ion-row>
    <div><span>texto text texto</span></div>
</ion-grid> -->