<ion-grid class="post-border" fixed>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col class="ion-align-items-center flex">
          <img [routerLink]="['/perfil/', post?.idPerson]" class="profile-pic same-line" [src]="post?.picture" alt="profile">
          <div [routerLink]="['/perfil/', post?.idPerson]" class="same-line">
            <span class="same-line" id="name">{{post?.name}}</span>
            <ion-icon class="icon same-line gray" id="circle" name="ellipse"></ion-icon>
            <span class="same-line amount gray" id="time">{{post?.time | lifeTimePost}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row [routerLink]="['/comments/', post?.id]" id="postText">
        <ion-col>
          <span>
            {{post?.text}}
          </span>
          <ion-img class="img-post" *ngIf="post?.media != ''" [src]="post?.media"></ion-img>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="1.5" class="flex direction ion-justify-content-end ion-align-items-end">
      <ion-buttons class="button-margin ion-align-items-center">
        <ion-icon class="gray tiny-margin size-icon" name="share-social-outline"></ion-icon>
        <span class="amount gray">{{post?.share}}</span>
      </ion-buttons>
      <ion-buttons [routerLink]="['/comments/', post?.id]" class="button-margin ion-align-items-center">
        <ion-icon class="gray tiny-margin size-icon" name="chatbox-outline"></ion-icon>
        <span class="amount gray">{{post?.comments.length}}</span>
      </ion-buttons>
      <ion-buttons *ngIf="!wasLiked()" (click)="like()" class="ion-align-items-center">
        <ion-icon class="gray tiny-margin size-icon" name="thumbs-up-outline"></ion-icon>
        <span class="amount gray">{{post?.like.length}}</span>
      </ion-buttons>
      <ion-buttons *ngIf="wasLiked()" (click)="unlike()" class="ion-align-items-center">
        <ion-icon class="blue tiny-margin size-icon" name="thumbs-up-outline"></ion-icon>
        <span class="blue gray">{{post?.like.length}}</span>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>